<html>
  <head>
    <style>
      .component-divisor{
        --bottom-color: green;
        border-bottom: 1px solid var(--bottom-color);
        color: var(--bottom-color);
      }
    </style>
  </head>
<body>
  <div class="html-raiz">
    <h1>Html raiz html</h1>
    <div class="ola-angular">
      <p class="component-divisor">Ola angular component abaixo:</p>
      <ola-angular class="component"></ola-angular>
      <p class="component-divisor">Ola angular component cli abaixo:</p>
      <ola-angular-cli class="component"></ola-angular-cli>
      <p class="component-divisor">Teste bootstrap</p>

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Framework</th>
            <th>Aplicacao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Abelha</td>
            <td>Abelinha</td>
          </tr>
          <tr>
            <td>Nope</td>
            <td>Cinza</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</body>
</html>